<table class="chart-loading">
  <tr>
    <td></td>
    <td>
      <div class="alert alert-warning" role="alert">
        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
      </div>
    </td>
    <td></td>
  </tr>
</table>